
.row {
	max-width: 1000px;
	margin: 0 auto;
}

h1 {
	font-size: 50px;
	text-align: center;
	font-family: garamond;
	font-weight: thin;
	color: white;
	background: red;
	height: 60px;
	float: left;
	width: 100%;
}

p {
	font-family: 'unitedstates';
	font-size: 6.2em;
	color: white;
	margin: 0;
	padding: 0;
	background: rgb(60,60,60);
	width: 100%;
}